<ion-header>
  <ion-toolbar>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <!-- Tab bar -->
      <ion-tab-bar slot="bottom">

        <ion-tab-button expand="full" (click)="abrircontactos()">
          <ion-icon name="call"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" (click)="abrirhome()">
          <ion-icon name="send"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" (click)="abririnfo()">
          <ion-icon name="information-circle"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>