<ion-header>
  <ion-toolbar>
    <ion-title>Detalle</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
      <ion-label>ID: {{ id }}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Título:</ion-label>
    <ion-input [(ngModel)]="tareaEditando.titulo"></ion-input>
  </ion-item>
<!--{{arrayColeccionTareas.data.titulo}}-->
  <ion-item>
      <ion-label>Descripción:</ion-label>
      <ion-input [(ngModel)]="tareaEditando.descripcion"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>Fecha de publicacion:</ion-label>
      <ion-input [(ngModel)]="tareaEditando.fecha"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Autor:</ion-label>
        <ion-input [(ngModel)]="tareaEditando.autor"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Numero de edición:</ion-label>
        <ion-input [(ngModel)]="tareaEditando.numeroEdicion"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Imagen</ion-label>
        <ion-button (click)="cargarImagePicker()">Subir imagen</ion-button>
        <ion-button (click)="borrarFile()">Borrar imagen</ion-button>
    </ion-item>
    <ion-button (click)="clicBotonBorrar()">Borrar tarea</ion-button>
    <ion-button (click)="clicBotonModificar()">Modificar tarea</ion-button>

    <!-- <div *ngIf="{{ id }}=='nuevo'"> -->
    <ion-button (click)="clicBotonInsertar()">Añadir tarea</ion-button>
    <ion-button (click)="clicCancelar()">Cancelar</ion-button>
    <!-- </div> -->
    <br>
    <ion-icon name="logo-whatsapp" (click)="compartir('whatsapp')"></ion-icon>

    <ion-icon name="shirt" (click)="compartir('facebook')"></ion-icon>
    <ion-icon name="shirt" (click)="compartir('twitter')"></ion-icon>

    <!-- <ion-button (click)="cargarImagePicker()">Subir Imagen</ion-button> -->
    <!--<ion-button (click)="borrarFile()">Eliminar Imagen</ion-button> -->
    <!-- <ion-button icon-only (click)=""></ion-button> -->
  </ion-content>
