<ion-header>
  <ion-toolbar>
    <ion-title>Ionic Blank</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--<ion-button color="secondary" (click)="navigateToDetalle()">Detalle</ion-button> -->
  <h1>Lista de tareas</h1>
  <ion-list>
    <ion-item *ngFor="let documentTarea of arrayColeccionTareas" (click)="selecTarea(documentTarea)">
      <!--selecTarea(documentTarea) cambiado por navigateToDetalle-->
      <ion-grid>
        <ion-row>
          <h2>{{documentTarea.data.titulo}}</h2>
        </ion-row>
        <ion-row>
          <p>{{documentTarea.data.descripcion}}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="selecTarea('nuevo')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <!-- Tab bar -->
      <ion-tab-bar slot="bottom">

        <ion-tab-button expand="full" (click)="abrircontactos()">
          <ion-icon name="call"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" (click)="abrirhome()">
          <ion-icon name="send"></ion-icon>
        </ion-tab-button>

        <ion-tab-button expand="full" (click)="abririnfo()">
          <ion-icon name="information-circle"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>